{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol',
  ]
%}

{%
  set container_class = attributes.hasAttribute('data-no-container') ? '' : 'container'
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="{{ container_class }}">
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {{ content.content }}
      </div>
    </div>
  </div>
{% endif %}
